html {
	background-color: whitesmoke;
}

body {
	width: 500px;
	margin: 50px auto;
	padding: 25px;
	border: medium outset lightslategray;
	background-color: aliceblue;
}

h1 {
	color: darkslategray;
	text-align: center;
}